body { 
    font-family: 'Arial', sans-serif;
    background-color: rgb(36, 138, 70);
    color: #333;
    margin: 100px;
    padding: 20px;
}
h2 {

text-align: center;
margin-bottom: 20px;

}

form{

background-color: coral;
padding: 40px;
border-radius: 20px;
max-width: 900px;
margin: auto;
box-shadow: 0 10px 20px rgba(50, 63, 243, 0.1);
display: grid;
gap: 50px;

}

fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding:top 10px;
    gap: 50px;
}

legend{
    font: bold;
    padding: 0 20px;

}
.g1{
    display:flex;
   justify-content: space-between;

}

.g2{
  text-align: center;

}

legend{

text-align: center;

}


/* Put buttons on same line */
.button-row {
    display: flex;
    justify-content: center;   /* centers them */
    gap: 20px;                 /* space between buttons */
    margin-top: 20px;
}

/* General button design */
.btn {
    padding: 12px 35px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}

/* Submit button color */
.submit-btn {
    background-color: #28a745;
}

.submit-btn:hover {
    background-color: #218838;
}

/* Reset button color */
.reset-btn {
    background-color: #dc3545;
}

.reset-btn:hover {
    background-color: #c82333;
}
textarea {
    width: 800px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
.label{

    text-align: center;
}
